<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CampionatoInPista | Visualizza Tabelle</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
<div id="header-placeholder"></div>

<div class="buttons-container">
<h1>Visualizza Tabelle</h1>
        <a  th:href="@{/CampionatoInPista/1RegistraScuderia}"><button>OP1.Registrazione di una scuderia.</button></a>
        <a  th:href="@{/CampionatoInPista/2RegistraVettura}"><button>OP2.Inserimento dei dati di un’autovettura, compresi i componenti di cui è composta.</button></a>
        <a  th:href="@{/CampionatoInPista/3AggiungiPilota}"><button>OP3.Aggiunta di un nuovo pilota ad un equipaggio.</button></a>
        <button>OP4.Registrazione di un finanziamento per una scuderia.</button>
        <button>OP5.Iscrizione di una vettura ad una gara.</button>
        <button>OP6.Registrazione del risultato conseguito da ciascuna vettura iscritta ad una gara.</button>
        <button>OP7.Verifica della possibilità di montare un componente su una vettura.</button>
        <button>OP8.Per ciascuna scuderia, stampare la somma totale dei finanziamenti ricevuti.</button>

        <button>OP9.Stampa annuale delle scuderie che hanno partecipato al campionato.</button>
        <button>OP10.Visualizzare i piloti che hanno vinto nel «circuito di casa».</button>
        <button>OP11.Visualizzare la percentuale di gentleman driver per ciascuna scuderia.</button>
        <button>OP12.Stampa mensile dei costruttori.</button>
        <button>OP13.Stampa della classifica finale dei punti delle vetture.</button>
        <button>OP14.Classifiche finali di punti per tipo di motore.</button>
        <button>OP15.Stampare un report basato sul rapporto punti/minuti di gara.</button>
</div>

<div id="footer-placeholder"></div>

<script src="/static/js/struttura.js"></script>
</body>
</html>