<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
<header>
    <a th:href="@{/CampionatoInPista/Homepage}">
        <img src="/static/logo.jpg" alt="Logo" class="logo">
    </a>
    <h1>Benvenuti<br>Campionato in Pista</h1>
</header>
<!--
<div>
     <nav>
       <ul class="menu">
           <li><a href="#traccia">Traccia</a></li>
           <li><a href="#documentazione">Documentazione</a></li>
           <li><a href="#schemi">Schemi</a></li>
           <li><a th:href="VisualizzaTabelle.html">Visualizza Tabelle</a></li>
           <li><a href="#informazioni">Informazioni</a></li>
       </ul>
   </nav>
</div>
-->
</body>
</html>