header {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
}

/* Stile per l'immagine logo */
.logo {
    width: 250px;
    height: auto;
}

/* Altri stili per il menu di navigazione nel header */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Aggiunge spazio sopra la navigazione */
}

.nav-link {
    text-decoration: none;
    color: #333; /* Colore del testo */
    margin: 0 15px; /* Spazio tra i link */
    font-weight: bold;
    transition: color 0.3s ease; /* Effetto di transizione sul colore */
}

.nav-link:hover {
    color: #FF6F61; /* Cambia il colore al passaggio del mouse */
}

/* Sfondo corallo dietro al form */
body {
    background-color: #FF6F61;
    margin: 0;
    padding: 0;
}