<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampionatoInPista | Visualizza GentlemanDriver</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/tabelle.css">
</head>

<body>
<div id="header-placeholder"></div>

<h1>11.Per ciascuna scuderia, visualizzare la percentuale di gentleman driver di cui si compone l’equipaggio;</h1>
<h2 style="text-align: center;">Scuderie</h2>
<table class="custom-table">
        <thead>
        <tr>
            <th>Nome Scuderia</th>
            <th>Numero Finanziamenti</th>
            <th>Nome Pilota</th>
            <th>Tipo Pilota</th>
            <th>Finanziatore Gentleman Driver</th>
            <th>Percentuale Gentleman Driver</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="scuderia, i : ${scuderia}">
            <td th:text="${scuderia.nome}"></td>
            <td th:text="${scuderia.numFinanziamenti}"></td>
            <td th:text="${pilota[i.index].nome}"></td>
            <td th:text="${pilota[i.index].tipoPilota}"></td>
            <td th:text="${pilota[i.index].finanziatoreGD}"></td>
            <td th:text="${percentuale[i.index]}"></td>
        </tr>
        </tbody>
    </table>

    <div id="footer-placeholder"></div>
    <script src="/static/js/struttura.js"></script>
</body>
</html>