<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampionatoInPista | Stampa Punti</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/tabelle.css">
</head>
<body>
<div id="header-placeholder"></div>

<h1>13.Stampa della classifica finale dei punti conseguiti da tutte le vetture;</h1>

<table class="custom-table">
    <thead>
    <tr>
        <th>Targa</th>
        <th>Punti Totali</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vettura, vIndex : ${vettura}">
        <td th:text="${vettura.targa}"></td>

        <td th:each="partecipa : ${partecipa[vIndex.index]}" th:text="${partecipa.punti}"></td>
    </tr>
    </tbody>
</table>

<div id="footer-placeholder"></div>
<script src="/static/js/struttura.js"></script>
</body>
</html>