<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampionatoInPista | Aggiungi Pilota</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/tabelle.css">
</head>

<body>
<div id="header-placeholder"></div>
<h1> 3.Aggiunta di un nuovo pilota ad un equipaggio.</h1>
<div class="pilota-data">
    <h2 class="section-header">Dati delle Vetture</h2>
    <table class="custom-table">
            <tr>
                <th>Targa</th>
                <th>Numero Gara</th>
                <th>Modello</th>
            </tr>

            <th:block th:each="vettura : ${datiVettura}">
                <tr>
                    <td th:text="${vettura[0]}"></td>
                    <td th:text="${vettura[1]}"></td>
                    <td th:text="${vettura[2]}"></td>
                </tr>
            </th:block>
        </table>
</div>
<div class="pilota-data">
    <h2 class="section-header">Dati dei Piloti</h2>
    <table class="custom-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di Nascita</th>
            <th>Nazionalita</th>
            <th>Tipo Pilota</th>
            <th>Licenze Possedute</th>
            <th>Data Licenza</th>
            <th>Finanziatore GD</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="pilota : ${datiPilota}">
            <tr>
                <td th:text="${pilota[0]}"></td>
                <td th:text="${pilota[1]}"></td>
                <td th:text="${pilota[2]}"></td>
                <td th:text="${pilota[3]}"></td>
                <td th:text="${pilota[4]}"></td>
                <td th:text="${pilota[5]}"></td>
                <td th:text="${pilota[6]}"></td>
                <td th:text="${pilota[7]}"></td>
                <td th:text="${pilota[8]}"></td>
            </tr>
        </th:block>
    </table>
</div>

<div class="registration-form">
<form th:action="@{/CampionatoInPista/3AggiungiPilota}" method="post">

    <div class="form-group">
    <label for="targa">Seleziona una Vettura in base alla Targa:</label>
    <select id="targa" name="targa" required>
        <option value="Scegli">Scegli</option>
        <option th:each="targa : ${targa}" th:value="${targa}" th:text="${targa}"></option>
    </select><br><br>

        <label for="IDPilota">Seleziona un Pilota in base al suo ID:</label>
        <select id="IDPilota" name="IDPilota" required>
            <option value="Scegli">Scegli</option>
            <option th:each="pilota : ${IDPilota}" th:value="${pilota}" th:text="${pilota}"></option>
        </select><br><br>

    <label for="numComponenti">Numero Componenti Piloti:</label>
    <input type="number" id="numComponenti" name="numComponenti" min="1" max="20" placeholder="1"/><br/>


        <button type="submit">Aggiungi Pilota</button>
    </div>

</form>
</div>


<div id="footer-placeholder"></div>
<script src="/static/js/struttura.js"></script>
</body>
</html>