<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampionatoInPista | Stampa Scuderia</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/tabelle.css">
</head>

<body>
<div id="header-placeholder"></div>

<h1>9.Stampa annuale delle scuderie che hanno partecipato al campionato compreso il numero di finanziamenti.</h1>

<div class="registration-form">
<form th:action="@{/CampionatoInPista/9StampaAnnuaScuderie}" method="post">
    <div class="form-group">
                <label for="anno">Seleziona l'Anno:</label>
                <select id="anno" name="data">
                    <option value="Scegli">Scegli</option>
                    <option th:each="anno : ${anno}" th:value="${anno}" th:text="${anno}"></option>
                </select>

        <button type="submit">Mostra Scuderie</button>
    </div>
</form>
</div>
<br><br>
<h2 style="text-align: center;" >Scuderie partecipanti nell'anno selezionato:</h2>

<table class="custom-table">
<thead>
<tr>
    <th>Nome Scuderia</th>
    <th>Sede</th>
    <th>Paese</th>
    <th>Numero Finanziamenti</th>
    <th>Targa Vettura Partecipa</th>
</thead>
<tbody>
<!-- Ciclo attraverso le scuderie -->
<tr th:each="scuderia, i : ${scuderieAnnuali}">
    <td th:text="${scuderia.nome}"></td>
    <td th:text="${scuderia.sede}"></td>
    <td th:text="${scuderia.paese}"></td>
    <td th:text="${scuderia.numFinanziamenti}"></td>
    <td th:text="${partecipa[i.index].targaVettura}"></td>

</tr>
</tbody>
</table>
</div>

<div>
    <h2 style="text-align: center;">Gare partecipate:</h2>
    <table class="custom-table">
        <thead>
        <tr>
            <th>ID Gara Partecipa</th>
            <th>Nome Gara</th>
            <th>Data</th>
            <th>Durata Ore</th>
            <th>Tipo Gara</th>
            <th>ID Circuito</th>
            <th>Motivo Ritiro Partecipa</th>
            <th>Punti Partecipa</th>

        </tr>
        </thead>
        <tbody>
        <!-- Ciclo attraverso le gare -->
        <tr th:each="gara, i: ${gareAnnuali}">
            <td th:text="${partecipa[i.index].idGara}"></td>
            <td th:text="${gara.nome}"></td>
            <td th:text="${gara.dataEvento}"></td>
            <td th:text="${gara.durataOre}"></td>
            <td th:text="${gara.tipoGara}"></td>
            <td th:text="${gara.idCircuito}"></td>
            <td th:text="${partecipa[i.index].motivoRitiro}"></td>
            <td th:text="${partecipa[i.index].punti}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="footer-placeholder"></div>
<script src="/static/js/struttura.js"></script>
</body>
</html>