<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrazione Scuderia - Errore</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
<h1>Errore durante la registrazione della scuderia</h1>
<p>Siamo spiacenti, si è verificato un errore durante la registrazione della scuderia.</p>
<p>Si prega di riprovare più tardi.</p>
<!-- Puoi aggiungere suggerimenti o link per tornare indietro -->
</body>
</html>
