<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CampionatoInPista | Errore</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
<div id="header-placeholder"></div>
<div style="margin: 30px;">
<h1>Errore - Vettura già iscritta</h1>
<h2>La vettura specificata è già stata iscritta a questa gara.</h2>
</div>
<div id="footer-placeholder"></div>
<script src="/static/js/struttura.js"></script>
</body>
</html>
