<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CampionatoInPista | Errore</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
<div id="header-placeholder"></div>
<div style="margin: 30px;">
 <h1>  Error</h1>
 <h2>  Siamo spiacenti, si è verificato un errore durante l'operazione.</h2>
 <h2>  Si prega di riprovare più tardi.</h2>
</div>
 <div id="footer-placeholder"></div>

<script src="/static/js/struttura.js"></script>

</body>
</html>
