<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CampionatoInPista | Homepage</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>

<body>

<div id="header-placeholder">

</div>

    <div class="buttons-container">
        <a  th:href="@{/CampionatoInPista/1RegistraScuderia}"><button>1. Registrazione di una scuderia.</button></a>
        <a  th:href="@{/CampionatoInPista/2RegistraVettura}"><button>2. Inserimento dei dati di un’autovettura, compresi i componenti di cui è composta.</button></a>
        <a  th:href="@{/CampionatoInPista/3AggiungiPilota}"><button>3. Aggiunta di un nuovo pilota ad un equipaggio.</button></a>
        <a  th:href="@{/CampionatoInPista/4RegistraFinanzimento}"><button>4. Registrazione di un finanziamento per una scuderia.</button></a>
        <a  th:href="@{/CampionatoInPista/5IscrizioneGara}"><button>5. Iscrizione di una vettura ad una gara.</button></a>
        <a  th:href="@{/CampionatoInPista/6RegistraRisultatoGara}"><button>6. Registrazione del risultato conseguito da ciascuna vettura iscritta ad una gara.</button></a>
        <a  th:href="@{/CampionatoInPista/7VerificaComponente}"><button>7. Verifica della possibilità di montare un componente su una vettura.</button></a>
        <a  th:href="@{/CampionatoInPista/8StampaSommaFinanziamenti}"><button>8. Per ciascuna scuderia, stampare la somma totale dei finanziamenti ricevuti.</button></a>

        <a  th:href="@{/CampionatoInPista/9StampaAnnuaScuderie}"><button>9. Stampa annuale delle scuderie che hanno partecipato al campionato compreso il numero di finanziamenti.</button></a>
        <a  th:href="@{/CampionatoInPista/10VisualizzaPiloti}"><button>10. Visualizzare i piloti che hanno vinto nel «circuito di casa».</button></a>
        <a  th:href="@{/CampionatoInPista/11VisualizzaGentlemanDriver}"><button>11. Per ciascuna scuderia, visualizzare la percentuale di gentleman driver di cui si compone l’equipaggio.</button></a>
        <a  th:href="@{/CampionatoInPista/12StampaCostruttori}"><button>12. Stampa mensile dei costruttori compreso il numero di componenti che ha fornito.</button></a>
        <a  th:href="@{/CampionatoInPista/13StampaClassificaPunti}"><button>13. Stampa della classifica finale dei punti conseguiti da tutte le vetture.</button></a>
        <a  th:href="@{/CampionatoInPista/14StampaClassificaPuntiMotore}"><button>14. Stampa delle classifiche finali di punti per tipo di motore.</button></a>
        <a  th:href="@{/CampionatoInPista/15ReportPuntiMinuti}"><button>15. Stampare un report che elenchi ciascuna scuderia sulla base del rapporto punti/minuti di gara, mediando tra le macchine appartenenti a ciascuna scuderia.</button></a>
    </div>

<div id="footer-placeholder"></div>

<script src="/static/js/struttura.js"></script>
</body>
</html>
