<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CampionatoInPista | Homepage</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>

<body>

<div id="header-placeholder"></div>

    <div class="buttons-container">
        <a  th:href="@{/CampionatoInPista/1RegistraScuderia}"><button>1. Registrazione di una scuderia.</button></a>
        <a  th:href="@{/CampionatoInPista/2RegistraVettura}"><button>2. Inserimento dei dati di un’autovettura, compresi i componenti di cui è composta.</button></a>
    <button>3. Aggiunta di un nuovo pilota ad un equipaggio.</button>
    <button>4. Registrazione di un finanziamento per una scuderia.</button>
    <button>5. Iscrizione di una vettura ad una gara.</button>
    <button>6. Registrazione del risultato conseguito da ciascuna vettura iscritta ad una gara.</button>
    <button>7. Verifica della possibilità di montare un componente su una vettura.</button>
    <button>8. Per ciascuna scuderia, stampare la somma totale dei finanziamenti ricevuti.</button>

    <button>9. Stampa annuale delle scuderie che hanno partecipato al campionato.</button>
    <button>10. Visualizzare i piloti che hanno vinto nel «circuito di casa».</button>
    <button>11. Visualizzare la percentuale di gentleman driver per ciascuna scuderia.</button>
    <button>12. Stampa mensile dei costruttori.</button>
    <button>13. Stampa della classifica finale dei punti delle vetture.</button>
    <button>14. Classifiche finali di punti per tipo di motore.</button>
    <button>15. Stampare un report basato sul rapporto punti/minuti di gara.</button>
    </div>

<div id="footer-placeholder"></div>

<script src="/static/js/struttura.js"></script>
</body>
</html>
