<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CampionatoInPista | Visualizza Tabelle</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
<div id="header-placeholder"></div>

<div class="buttons-container">
<h1>Visualizza Tabelle</h1>


  <!--  <button><a th:href="@{/CampionatoInPista/VisualizzaScuderia}">Scuderia</a></button>
--->
</div>

<div id="footer-placeholder"></div>

<script src="/static/js/struttura.js"></script>
</body>
</html>